.pageSection.text-center.flex.flex-row
  .image.h-fit.w-full
    = content.image_tag :Image
  .m-24
    %h1.text-2xl.font-bold
      = content.html :Title
    .font-serif.text-2xl
      = content.html :Subtitle
    .font-mono
      = content.html :Subtitle
    .font-sans
      = content.html :Subtitle
    .font-sans
      = content.html :Description